html {
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
}

*, *::before, *::after {
	 -webkit-box-sizing: inherit;
	         box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*--------nav-------*/

.nav {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 9px;
}

.nav__main {
	display: flex;
}

.nav__syte {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	margin-top: 18px;
	padding: 0;
}

.nav__catalog {
	position: relative;
	margin-left: 10px;
	padding-left: 13px;
	padding-right: 13px;
	width: 86px;
}


.nav__catalog > a:hover {
	padding: 9px;
	width: 87px;
	height: 32px;
	border-radius: 30px;
	background-color: #ffffff;
	color: #000000;
}

.nav__catalog:hover .nav__catalog-popup {
	display: block;
}

.nav__active {
	position: relative;
	margin-left: 10px;
	margin-top: -5px;
	padding: 5px;
	padding-left: 13px;
	width: 87px;
	height: 32px;
	border-radius: 30px;
	background-color: #d07058;
	color: #000000;
}

.nav__catalog-popup {
	position: absolute;
	top: 32px;
	left: -1px;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0px;
	width: 143px;
	background-color: #f8f7f4;
	border-radius: 5px;
	line-height: 40px;
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.6);
}

.nav__item {
	margin-top: 2px;
	margin-bottom: 2px;
}

.nav__item:first-child {
	display: block;
    margin-right: 6px;
    margin-top: 0px;
    margin-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d0ce; 
}

.nav__item:first-child a {
	padding-left: 14px;
	color: #323232;
}

.nav__item a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #323232;
}

.nav__item:hover {
	background-color: #fbded7;
}

.nav-item a:active {
	background-color: #f6b5a5; 
}

.nav__delivery{
	padding-left: 20px;
	padding-right: 10px;
	width: 200px;
}

.nav__delivery a:hover {
	padding: 9px;
	border-radius: 30px;
	background-color: #ffffff;
	color: #000000;
}

.nav__about {
	padding-left: 5px;
	padding-right: 5px;
}

.nav__about a:hover {
	padding: 9px;
	border-radius: 30px;
	background-color: #ffffff;
	color: #000000;
}


.nav__user {
	display: flex;
	list-style: none;
	margin-left: auto;
	margin-top: 20px;
}

.nav__login a,
.nav__cart a {
	position: relative;
	padding: 9px;
	padding-left: 45px;
	padding-right: 20px;
	margin-left: 10px;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.nav__login,
.nav__cart {
	position: relative;
}


.nav__search {
	position: relative;
	padding: 3px;
	margin-left: 10px;
	margin-top: -5px;
	width: 35px;
	height: 35px;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.nav__search:hover,
.nav__login a:hover,
.nav__cart a:hover {
	background-color: #ffffff;
	color: #000000;
}

.nav__search::before {
	position: absolute;
	top: 8px;
	left: 8px;
	content: "";
	width: 17px;
	height: 17px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__search:hover::before {
	position: absolute;
	top: 8px;
	left: 8px;
	content: "";
	width: 17px;
	height: 17px;
	background-image: url(../img/search-hover.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.nav__login::before {
	position: absolute;
	left: 25px;
	top: 3px;
	content: "";
	width: 21px;
	height: 19px;
	background-image: url(../img/enter.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__login a:hover::before {
	position: absolute;
	left: 15px;
	top: 7px;
	content: "";
	width: 21px;
	height: 19px;
	background-image: url(../img/enter-hover.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__cart::before {
	position: absolute;
	left: 25px;
	top: 3px;
	content: "";
	width: 21px;
	height: 20px;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__cart a:hover::before {
	position: absolute;
	left: 15px;
	top: 7px;
	content: "";
	width: 21px;
	height: 20px;
	background-image: url(../img/cart-hover.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__syte a {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	/*background-color: #849d8f;*/
}

.nav__user a {
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.nav__info {
	margin-left: auto;
}

.nav__contacts {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}

.nav__phone {
	margin-top: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.nav__catalog-popup a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

a.nav__new {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #323232;
}

/*-------popular-------*/

.site__wrapper {
	position: relative;
  	min-width: 940px;
 	background-color: #849d8f;
  	background-image: url(../img/slide-1.png);
  	background-repeat: no-repeat;
  	background-position: top center;
  	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site__wrapper::before,
.site__wrapper::after {
  	content: "";
  	visibility: hidden;
}

.site__wrapper::before {
  	background-image: url(../img/slide-2.png);
}

.site__wrapper::after {
  background-image: url(../img/slide-3.png);
}

.popular {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	position: relative;
  	padding-top: 250px;
  
  	text-align: center;
  	color: #ffffff;
}

.popular__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.popular__title {
	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 33px;
	text-align: center;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	color: #ffffff;
}

.popular__button {
	padding: 12px 31px;
	font-weight: 600;
  	font-size: 31px;
  	line-height: 41px;
  	text-align: center;
}

.button {
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.popular__controls label {
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	margin-right: 8px;

  	vertical-align: top;

  	background-color: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer;
}

.popular__controls {
  	position: absolute;
  	bottom: 20px;
  	left: 26px;
  	z-index: 20;
}

.popular__controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.popular__item {
	display: none;
}

#btn-1:checked ~ .site__wrapper #slide-1,
#btn-2:checked ~ .site__wrapper #slide-2,
#btn-3:checked ~ .site__wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .site__wrapper label[for="btn-1"],
#btn-2:checked ~ .site__wrapper label[for="btn-2"],
#btn-3:checked ~ .site__wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .site__wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide-1.png);
}

#btn-2:checked ~ .site__wrapper {
  background-color: #8996a6;
  background-image: url(../img/slide-2.png);
}

#btn-3:checked ~ .site__wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slide-3.png);  
}

/*--------banner-------*/

.banner__wrap {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	padding-left: 27px;
	padding-right: 27px;
}

.banner {
	width: 560px;
	
	padding: 20px;
	border-radius: 15px;
	background-image: url(../img/malina.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.banner:last-child {
	background-image: url(../img/shock.png);
}

.banner__title {
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 32px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

.banner__text {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 17px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.banner__button {
	display: block;
	width: 163px;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 10px 15px;
  	text-align: center;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.banner__shock a {
	width: 194px;
}



/*-------hit-------*/

.hit {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0;
	width: 1200px;
	list-style: none;
}

.hit__item {
	width: 266px;
	min-height: 406px;
}

.hit__button {
	display: none;
	position: absolute;
	top: 340px;
	left: 45px;
	padding: 10px 15px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.hit__content img {
	margin: 0 auto;
	border-radius: 50%;
}

.hit__content {
	position: relative;
}

.hit__content::before {
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 20;
}

.hit__hover {
	position: relative;
	width: 293px;
	min-height: 406px;
	padding-top: 7px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: transparent;
	border-radius: 5px; 
}

.hit__hover:hover {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.2);
}

.hit__hover:hover .hit__button {
	display: block;
}

.hit__price {
	position: absolute;
	top: 210px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #ffffff;
}

.hit__description {
	text-align: center;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
}

/*-------seo-------*/

.seo {
	width: 1150px;
	margin: 0 auto;
	margin-top: -50px;
	padding: 20px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 15px;
	background-image: url(../img/seo-back.jpg);
}

.seo__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.seo__firstrow,
.seo__secondrow {
	display: flex;
	margin-bottom: 20px;
}

.seo__text {
	position: relative;
	width: 550px;
	padding-left: 60px;
}
.seo__text:last-child {
	padding-left: 80px;
}
.seo__title {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

.seo__text::before {
	content: "";
	width: 49px;
	height: 49px;
	position: absolute;
}

.seo__firstrow .seo__text::before {
	left: 2px;
	top: -12px;
	background-image: url(../img/icecreem.svg);
}

.seo__firstrow .seo__text:last-child::before {
	left: 15px;
	top: -12px;
	background-image: url(../img/caw.svg);
}

.seo__secondrow .seo__text::before {
	left: 2px;
	top: -12px;
	background-image: url(../img/folio.svg);
}

.seo__secondrow .seo__text:last-child::before {
	left: 15px;
	top: -12px;
	background-image: url(../img/temperatura.svg);
}

/*-------wrapper------*/

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 1150px;
	margin: 0 auto;
	margin-top: 40px;
}

.news,
.send {
	width: 560px;
	min-height: 220px;
	padding: 20px;
	border-radius: 15px;
	background-color: #ffffff; 
}


/*-------news------*/

.news {
	background-image: url(../img/strobery.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.news__text {
	margin-top: 4px;
	margin-bottom: 4px;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.news a {
	display: block;
	width: 300px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

/*------send------*/

.send {
	padding: 6px;
	background-image: url(../img/send__back.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}


.send__wrap {
	vertical-align: middle;
	width: 549px;
	padding: 18px;
	border-radius: 15px;
	background-color: #f8f7f4; 
}

.send__text {
	margin-top: 10px;
	margin-bottom: 36px;
	color: #5a5a5a;
}

.send__input {
	width: 368px;
	height: 44px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.send__form {
	margin-bottom: 18px;
}

.send__button {
	margin-top: -2px;
	margin-left: 12px;
	padding: 10px 15px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
}

/*------map------*/

.map {
	position: relative;
	width: 1250px;
	margin: 0 auto;
	margin-top: 40px;
}

.map__adress {
	position: absolute;
	top: 60px;
	left: 900px;
	width: 302px;
	padding: 20px;
	padding-top: 28px;
	border-radius: 15px;
	background-color: #ffffff; 
}

.map__info {
	margin: 0;
	font-size: 14px;
	line-height: 22px;
	color: #323232;
}

.map__street {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map__phone {
	margin: 0;
	margin-top: 10px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.map__popup {
	margin-top: 25px;
	padding: 10px 25px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
}

.map__pin {
	position: absolute;
	top: 140px;
	left: 290px;
	width: 80px;
	height: 140px;
	content: "";
	background-image: url(../img/pin.svg);
}

.map__pin::after {
	position: absolute;
	top: 30px;
	left: 40px;
	content: "";
	width: 182px;
	height: 110px;
	background-image: url(../img/pin-shadow.png);
}


/*=========footer=========*/

.footer {
	display: flex;
	justify-content: space-between;
	width: 1150px;
	margin: 0 auto;
	padding-bottom: 22px;
}

.footer__social a {
	position: relative;
	display: inline-block;
	margin-top: 34px;
	margin-right: 10px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);
}

.footer__twitter::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.footer__instagram::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url(../img/inst.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.footer__facebook::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.footer__vk::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url(../img/vk.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.footer__links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 305px;
	margin: 0;
	margin-top: 30px;
	padding: 0;
	list-style: none;
}

.footer__left,
.footer__right {
	position: relative;
	display: flex;
	flex-direction: column;
}

.footer__right {
	margin-top: 2px;
}

.footer__textbold::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 5px;
	width: 15px;
	height: 13px;
	background-image: url(../img/cuore.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.footer__textbold a {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
}

.footer__text a {
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer__text {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fefefe;
}

.footer__copyright {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 0;
	margin-top: 24px;
	padding: 0;
	list-style: none;
}

.footer__logo {
	display: block;
	width: 120px;
	height: 39px;
	background-image: url(../img/logo-html.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
	cursor: pointer;
}


/*=========search__modal==========*/

.search__modal {
	display: none;
	position: absolute;
	top: 65px;
	left: 715px;
	width: 344px;
	height: 87px;
	background-color: #f8f7f4;
	border-radius: 5px;
	line-height: 40px;
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.6);
}

.search__input {
	width: 314px;
	height: 47px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 20px;
	padding: 16px;
	color: #999999;
}

/*=========login__modal========*/

.login__modal {
	display: none;
	position: absolute;
	top: 65px;
	left: 880px;
	width: 280px;
	height: 217px;
	padding: 17px;
	background-color: #f8f7f4;
	border-radius: 5px;
	line-height: 40px;
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.6);
}

.login__user,
.login__password {
	width: 244px;
	height: 47px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 16px;
	color: #999999;
}

.login__form p {
	margin-top: 0;
	margin-bottom: 17px;
}

.login__button {
	padding: 14px 27px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.login__membership {
	display: flex;
	flex-direction: column;
	width: 130px;
	margin: 0;
}

.login__enter {
	display: flex;
	justify-content: space-between;
}

.login__modal a {
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	text-decoration: underline;
}

/*=========popup========*/

.popup {
	display: none;
	position: fixed;
	top: 20%;
	left: 500px;
	width: 481px;
	height: 445px;
	padding: 17px 26px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.6);
}

.popup__title {
	margin: 0;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.popup__input-name,
.popup__input-email,
.popup__text {
	width: 270px;
	padding: 12px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	color: #999999;
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.popup__text {
	width: 431px;
	height: 158px;
}

.popup__button {
	display: block;
	width: 141px;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 10px 25px;
  	text-align: center;
  	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
}

.popup__close {
	position: absolute;
	top: 20px;
	left: 430px;
	width: 18px;
	height: 17px;
	font-size: 0;
	border: 0;
	background-color: #f8f7f4;
	cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #323232;
}

.popup__close::before {
  transform: rotate(45deg);
}

.popup__close::after {
  transform: rotate(-45deg);
}


/*==========catalog__container========*/

.catalog__container {
	margin: 0 auto;
	background-color: #849d8f;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent 20%, transparent 100% );
	background-repeat: no-repeat;
	background-position: top;
}

.catalog__wrap {
	width: 1150px;
	margin: 0 auto;
	margin-top: -45px;
}

/*=======nav__breadcrumps------*/

.nav__breadcrumps {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav__breadcrumps-item a {
	margin-right: 25px;
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}

/*======main__title======*/

.main__title {
	margin: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}




