html {
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
}

*, *::before, *::after {
	 -webkit-box-sizing: inherit;
	         box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*--------nav-------*/

.nav {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 9px;
}

.nav__main {
	display: flex;
}

.nav__syte {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	margin-top: 18px;
	padding: 0;
}

.nav__catalog {
	position: relative;
	margin-left: 10px;
	padding-left: 13px;
	padding-right: 13px;
	width: 86px;
}


.nav__catalog > a:hover {
	padding: 9px;
	width: 87px;
	height: 32px;
	border-radius: 30px;
	background-color: #ffffff;
	color: #000000;
}

.nav__catalog-popup {
	position: absolute;
	top: 32px;
	left: -1px;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0px;
	width: 143px;
	background-color: #f8f7f4;
	border-radius: 5px;
	line-height: 40px;
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.6);
}

.nav__item {
	margin-top: 2px;
	margin-bottom: 2px;
}

.nav__item:first-child {
	display: block;
    margin-right: 6px;
    margin-top: 0px;
    margin-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d0ce; 
}

.nav__item:first-child a {
	padding-left: 14px;
	color: #323232;
}

.nav__item a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #323232;
}

.nav__item:hover {
	background-color: #fbded7;
}

.nav-item a:active {
	background-color: #f6b5a5; 
}

.nav__delivery{
	padding-left: 20px;
	padding-right: 10px;
	width: 200px;
}

.nav__delivery a:hover {
	padding: 9px;
	border-radius: 30px;
	background-color: #ffffff;
	color: #000000;
}

.nav__about {
	padding-left: 5px;
	padding-right: 5px;
}

.nav__about a:hover {
	padding: 9px;
	border-radius: 30px;
	background-color: #ffffff;
	color: #000000;
}


.nav__user {
	display: flex;
	list-style: none;
	margin-left: auto;
	margin-top: 20px;
}

.nav__login a,
.nav__cart a {
	position: relative;
	padding: 9px;
	padding-left: 45px;
	padding-right: 20px;
	margin-left: 10px;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.nav__login,
.nav__cart {
	position: relative;
}


.nav__search {
	position: relative;
	padding: 3px;
	margin-left: 10px;
	margin-top: -5px;
	width: 35px;
	height: 35px;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.nav__search:hover,
.nav__login a:hover,
.nav__cart a:hover {
	background-color: #ffffff;
	color: #000000;
}

.nav__search::before {
	position: absolute;
	top: 8px;
	left: 8px;
	content: "";
	width: 17px;
	height: 17px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__search:hover::before {
	position: absolute;
	top: 8px;
	left: 8px;
	content: "";
	width: 17px;
	height: 17px;
	background-image: url(../img/search-hover.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.nav__login::before {
	position: absolute;
	left: 25px;
	top: 3px;
	content: "";
	width: 21px;
	height: 19px;
	background-image: url(../img/enter.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__login a:hover::before {
	position: absolute;
	left: 15px;
	top: 7px;
	content: "";
	width: 21px;
	height: 19px;
	background-image: url(../img/enter-hover.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__cart::before {
	position: absolute;
	left: 25px;
	top: 3px;
	content: "";
	width: 21px;
	height: 20px;
	background-image: url(../img/cart.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__cart a:hover::before {
	position: absolute;
	left: 15px;
	top: 7px;
	content: "";
	width: 21px;
	height: 20px;
	background-image: url(../img/cart-hover.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav__syte a {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	/*background-color: #849d8f;*/
}

.nav__user a {
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.nav__info {
	margin-left: auto;
}

.nav__contacts {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}

.nav__phone {
	margin-top: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.nav__catalog-popup a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

a.nav__new {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #323232;
}

/*-------popular-------*/

.site__wrapper {
	position: relative;
  	min-width: 940px;
 	background-color: #849d8f;
  	background-image: url(../img/slide-1.png);
  	background-repeat: no-repeat;
  	background-position: top center;
  	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site__wrapper::before,
.site__wrapper::after {
  	content: "";
  	visibility: hidden;
}

.site__wrapper::before {
  	background-image: url(../img/slide-2.png);
}

.site__wrapper::after {
  background-image: url(../img/slide-3.png);
}

.popular {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	position: relative;
  	padding-top: 250px;
  
  	text-align: center;
  	color: #ffffff;
}

.popular__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.popular__title {
	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 33px;
	text-align: center;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	color: #ffffff;
}

.popular__button {
	padding: 12px 31px;
	font-weight: 600;
  	font-size: 31px;
  	line-height: 41px;
  	text-align: center;
}

.button {
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.popular__controls label {
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	margin-right: 8px;

  	vertical-align: top;

  	background-color: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer;
}

.popular__controls {
  	position: absolute;
  	bottom: 20px;
  	left: 26px;
  	z-index: 20;
}

.popular__controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.popular__item {
	display: none;
}

#btn-1:checked ~ .site__wrapper #slide-1,
#btn-2:checked ~ .site__wrapper #slide-2,
#btn-3:checked ~ .site__wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .site__wrapper label[for="btn-1"],
#btn-2:checked ~ .site__wrapper label[for="btn-2"],
#btn-3:checked ~ .site__wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .site__wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide-1.png);
}

#btn-2:checked ~ .site__wrapper {
  background-color: #8996a6;
  background-image: url(../img/slide-2.png);
}

#btn-3:checked ~ .site__wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slide-3.png);  
}

/*--------banner-------*/

.banner__wrap {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	padding-left: 27px;
	padding-right: 27px;
}

.banner {
	width: 560px;
	
	padding: 20px;
	border-radius: 15px;
	background-image: url(../img/malina.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.banner:last-child {
	background-image: url(../img/shock.png);
}

.banner__title {
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 32px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

.banner__text {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 17px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.banner__button {
	display: block;
	width: 163px;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 10px 15px;
  	text-align: center;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.banner__shock a {
	width: 194px;
}



/*-------hit-------*/

.hit {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0;
	width: 1200px;
	list-style: none;
}

.hit__item {
	width: 266px;
	min-height: 406px;
}

.hit__button {
	display: none;
	position: absolute;
	top: 340px;
	left: 45px;
	padding: 10px 15px;
}

.hit__content img {
	margin: 0 auto;
	border-radius: 50%;
}

.hit__content {
	position: relative;
}

.hit__content::before {
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../img/hit.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 20;
}

.hit__hover {
	position: relative;
	width: 293px;
	min-height: 406px;
	padding-top: 7px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: transparent;
	border-radius: 5px; 
}

.hit__hover:hover {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.2);
}

.hit__price {
	position: absolute;
	top: 210px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #ffffff;
}

.hit__description {
	text-align: center;
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
}

.hit__button {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}


/*-------seo-------*/

.seo__title {
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

/*-------news------*/

.news__text {
	font-family: "Roboto-Medium", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.news a {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

/*------send------*/

.send__text {
	color: #5a5a5a;
}

.send__button {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
}

/*------map------*/

.map__info {
	font-size: 14px;
	line-height: 24px;
	color: #323232;
}

.map__street {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map__phone {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.map__popup {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fefefe;
}


/*=========footer=========*/

.footer__textbold a {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
}

.footer__text a {
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer__text {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fefefe;
}














